<div class="container">
    <h1>Contact Us</h1>
    
    <form #contactUs="ngForm" (ngSubmit)="onSubmit(contactUs)">
        <div *ngIf="user_name.invalid">
            <div class="alert">Error: Name is required</div>
        </div>
        <div *ngIf="user_email.invalid">
            <div class="alert">Error: Email is required</div>
        </div>
        <div *ngIf="user_message.invalid">
            <div class="alert">Error: Message is required</div>
        </div>

        <div class="form-group">
            <label>Name</label>
            <input required type="text" name="name" value="" class="form-control" placeholder="Name" #user_name="ngModel" [(ngModel)]="user.name" maxlength="40" minlength="2" pattern="[a-zA-Z ]*"/>
        </div>

        <div class="form-group">
            <label>email</label>
            <input required email type="text" name="email" value="" class="form-control" placeholder="Email" #user_email="ngModel" [(ngModel)]="user.email"/>
        </div>

        <div class="form-group">
            <label>Message</label>
            <input required type="text" name="message" value="" class="form-control" placeholder="Message" #user_message="ngModel" [(ngModel)]="user.message"/>
        </div>

        <div class="form-group">
            <input class="btn btn-default" type="submit" name="button" value="Submit" [disabled]="!contactUs.form.valid"/>
        </div>
    </form>
</div>